1. Програма повинна вірно вирішувати завдання : моделювання поширення монет євро по всій Європі.
2. Програма повина отримувати початкові дані з вхідного файлу.
3. Вхідний файл повинен бути у такому форматі:
n
Country_1 xl_1 yl_1 xh_1 yh_1
...
Country_n xl_n yl_n xh_n yh_n
Де n - кількість країн. xl, yl, xh, yh - координати країни.
4. Програма повинна забезпечити можливість вирішення задачі для багатьох випадків, які будуть записані в одному файлі.
5. Завершення моделювання - ситуація при якій у кожному місті є монета кожного вхідного зразку.
6. Програма повинна виводити рузльтат роботи програми у консоль або записувати результат у вихідний файл.
7. Файл повиний бути у такому форматі:
Номер_випадку
Назва_країни кількість_днів_для_завершення